.container > h1 {
  font-size: xx-large;
  color: white;
  float: right;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.one {
  color: black;
  font-size: large;
  font-weight: 500;
  border: 10px;
}
background-image {
  height: 40vh;
}

#five {
  background-color: #a7dfff;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.two {
  float: right;
  font-size: large;
  clear: right;
}
.three {
  clear: right;
  font-size: large;
}
p {
  clear: both;
  font-size: large;
  width: 100%;
}
.right {
  float: right;
  width: 60%;
  margin-top: 200px;
  background-color: #a7dfff;
}
.left {
  float: left;
  margin-top: 170px;
  border-radius: 50%;
}
.nav-bar {
  display: flex;
  border: 1px solid red;
}
.nav-links {
  margin-right: 1vw;
  width: 80%;
}
.nav-links ul {
  float: right;
  display: flex;
}
.nav-links ul li {
  list-style: none;
  padding: 2vw;
  float: left;
}
.logo {
  height: 6vw;
  width: auto;
  padding: 2vw;
  margin-bottom: 50px;
}
button {
  background-color: #ec4067;
}
