*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkgray;
}
.formp{
    justify-content: center;
    align-items: center;
    align-content: space-between;
}
.formp h2{
    justify-content: center;
}
.formp p{
    
}
