* {
    font-family: 'Nunito', sans-serif;
}

body {

}

.logo img{
    height: 6vw;
    width: auto;
    padding: 2vw;

}
.nav-bar{
    display: flex;

}
.nav-links{
    margin-right: 1vw;
    width: 80%;
}
.nav-links ul{
    float: right;
    display: flex;



}
.nav-links ul li{
    list-style: none;
    padding: 2vw;
    float: left;

    
    
}
.nav-links ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
  
}
.nav-links .signup{
    background-color: rgb(49, 219, 245);
    border-radius: 30%;
    border: 25%;
    padding: 10px;
}

h1,
h2,
h3 {
    color: black;
    font-size: larger;
    justify-content: space-between;
    font-weight: bolder;

}



.column {
    display: inline-flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    height: 650px; width: fit-content;


}

p {
    color: black;
}

.column ul li {
    font-style: italic;
}

.Moringa {
    border: 10px;
    padding-left: 10px;
    border: 2px solid #A7DFFF;


}

.Agakhan {
    padding-left: 10px;
    border: 2px solid #A7DFFF;


}

.USIU {
    margin-left: 40px;
    padding-left: 10px;
    border: 2px solid #A7DFFF;

}

.Apply {
    background-color: #A7DFFF;
    border-radius: 20%;
    border: 25%;
    padding: 10px;
    width: 30%;
    align-items: center;
}

.MR,
.AG,
US {
    color: white;
}
