body{
    padding: 0;
    margin: 0;
}


*{
    font-family:  'Nunito', sans-serif;
}
.logo img{
    height: 6vw;
    width: auto;
    padding: 2vw;

}
.nav-bar{
    display: flex;
    border:1px solid red;
}
.nav-links{
    margin-right: 1vw;
    width: 80%;
}
.nav-links ul{
    float: right;
    display: flex;



}
.nav-links ul li{
    list-style: none;
    padding: 2vw;
    float: left;

    
    
}
.nav-links ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
  
}
.nav-links .signup{
    background-color: rgb(49, 219, 245);
    border-radius: 30%;
    border: 25%;
    padding: 10px;
}
.top-search{
    display: flex;
    border:1px solid red;
    padding: 10%;
    width: 80%;
}
.top-search .access{
    width: 40%;
    justify-content: space-between;

}
.top-search .student-image{
    width: 40%;
}

.top-search img {
    border-radius: 5vw;
    
}
.top-search .access .search{
    background-color: rgb(49, 219, 245);
    border-radius: 30%;
    border: 25%;
    padding: 10px;
}
.top-search  .search a{
    text-decoration: none;
}
.about{
    border:1px solid red;
    display: flex;
    padding: 10%;

}
.about img{
    border-radius: 5vw;
}
.about .who{
    width: 80%;
}
.about .about-btn{
    background-color: rgb(49, 219, 245);
    border-radius: 30%;
    border: 25%;
    padding: 10px;

}
.about .about-btn a{
    text-decoration: none;
}
.help{
    display: flex;
    width: 100%;
    border: 1px solid rebeccapurple;
}
.help-image{
    width: 50%;
    padding: 10vw 5vw 0vw 5vw;

}
.help-image img{
    border-radius: 5vw;
}

.work-you h1{
    width: 80%;
    text-align: center;
    border: 1px solid greenyellow;
   
}
.icons-help{
    width: 50%;
    padding-top: 1vw;

}
.scholarship-search{
    display: flex;
    


}
.scholarship-search .grid{
    padding: 1vw;
    
}
.process-personal .smiley{
    padding: 1vw;
}
.win .cash{
    padding: 1vw;
}
.process-personal{
    display: flex;
}
.win{
    display: flex;
}
.world-top{
    display: flex;
    padding: 10%;
    border: 6px solid orange;
}
.world-top .world-image img{
    border-radius: 500vw;

}
.worlds .explore{
    background-color: rgb(49, 219, 245);
    border-radius: 30%;
    border: 25%;
    padding: 10px;

}

.worlds .explore a{
    text-decoration: none;
}
.reviewees{
    display: flex;
}
.reviews .toph{
    text-align: center;
}
.reviews .review1{
    border: 1px solid lightgray;
}
.reviews .review2{
    border: 1px solid lightgray;
}
.reviews .review3{
    border: 1px solid lightgray;
}

