


* {
    font-family: 'Nunito', sans-serif;
}

.logo img {
    height: 6vw;
    width: auto;
    padding: 2vw;

}

.nav-bar {
    display: flex;
    border: 1px solid red;
}

.nav-links {
    margin-right: 1vw;
    width: 80%;
}

.nav-links ul {
    float: right;
    display: flex;



}

.nav-links ul li {
    list-style: none;
    padding: 2vw;
    float: left;



}

.nav-links ul li a {
    list-style: none;
    text-decoration: none;
    color: black;

}

.nav-links .signup {
    background-color: rgb(49, 219, 245);
    border-radius: 30%;
    border: 25%;
    padding: 10px;
}

h1,
h2,
h3 {
    color: brown;
    font-size: larger;
    justify-content: space-between;
}



.column {
    display: inline-flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    background-color: aqua;


}
p{
    color: black;
}

.Moringa {
    border: cornflowerblue; 
    border: 10px;
}

.Agakhan {
    padding-left: 40px;
}

.USIU {
    margin-left: 40px;
}